.firstDiv{
   background-color:lavender; 
   color:rgb(247, 199, 80);
}

.secondDiv{
    background-color: lavender;
}
.thirdDiv{
    background-color:rgb(247, 199, 80) ;
}
.forthDiv{
    text-decoration: underline;
}
